<h1>Update Shelter</h1>

<%= render :partial => "form", locals: {
                                        path: "/shelters/#{@shelter.id}",
                                        method: :patch,
                                        button_text: "Update Shelter"
                                      } %>