<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <div class="content-card">
    <h2><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h2>
    <a href="/shelters/<%= shelter.id %>/edit">Update Shelter</a></br>
    <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete, data: {confirm: "Are you sure you want to delete this shelter?"} %></br>
  </div>
<% end %>

<h3><a href="/shelters/new">New Shelter</a></h3>