<h1>Add New Pet for this Shelter</h1>

<%= render :partial => "form", locals: {
                                        path: "/shelters/#{@shelter.id}/pets",
                                        method: :post,
                                        button_text: "Add Pet"
                                      } %>
