<h1>Applications for <%= @pet.name %></h1>

<% if @pet.has_apps%>
  <% @applications.each do |application| %>
  <ul>
    <li class="list-of-apps"><%= link_to "#{application.name}", "/applications/#{application.id}"%></li>
  </ul>
  <% end %>
<% else %>
  <h2>No applications yet. Still looking for my forever friend.</h2>
<% end %>  
