<h1>Update Review</h1>

<%= render :partial => "form", locals: {
                                        path: "/shelters/#{@review.shelter_id}/reviews/#{@review.id}",
                                        method: :patch,
                                        button_text: "Update Review"
                                      } %>
